/*Color */


/*Primary Color */

$colorVeryDarkGrayishBlue: hsl(217, 19%, 35%);
$colorDesaturatedDarkBlue: hsl(214, 17%, 51%);
$colorGrayishBlue: hsl(212, 23%, 69%);
$colorLightGrayishBlue: hsl(210, 46%, 95%);

/*mixin */

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}